@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-lato: var(--font-lato), ui-sans-serif, system-ui, sans-serif;
  --font-playfair-display: var(--font-playfair-display), sans-serif;
  --padding-layout-spacing-xs: 20px;
  --padding-layout-spacing-sm: 40px;
  --color-primary: #f4a261;
  --color-secondary: #f8efd8;
  --color-black: #2d2d2d;
}

@layer base {
  body {
    @apply font-lato bg-[#F5E8C7] text-[#2D2D2D];
  }
}
